trigger:
  branches:
    include:
      - main

variables:
  - group: terraform-keys              # secrets from Key Vault
  - group: learning_platform_vg        # all non-secret variables

stages:

# =====================================================
#    STAGE 1 — Build & Push Docker Image
# =====================================================
- stage: BuildAndPush
  displayName: Build and Push to ACR
  jobs:
    - job: Build
      pool:
        vmImage: ubuntu-latest

      steps:
        - task: DockerInstaller@0
          displayName: Install Docker

        - task: AzureCLI@2
          displayName: Login to ACR
          inputs:
            azureSubscription: 'azure-cloud'
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: 'az acr login --name $(ACR_NAME)'

        # - script: |
        #     docker build -t $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(IMAGE_TAG) .
        #     docker push $(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(IMAGE_TAG)
        #   displayName: Build and Push Image

        - task: Docker@2
          displayName: Build and Push Image
          inputs:
            command: 'buildAndPush'
            Dockerfile: '**/Dockerfile'
            tags: '$(ACR_LOGIN_SERVER)/$(IMAGE_NAME):$(IMAGE_TAG)'
            addPipelineData: false
            addBaseImageData: false


# =====================================================
#    STAGE 2 — Deploy to AKS Using Helm
# =====================================================
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: BuildAndPush
  jobs:
    - deployment: AKS_Deployment
      environment: "aks/$(AKS_ENVIRONMENT)"
      pool:
        vmImage: ubuntu-latest

      strategy:
        runOnce:
          deploy:
            steps:

              # --------------------------
              # 1. Get AKS Credentials
              # --------------------------
              - task: AzureCLI@2
                displayName: Get AKS credentials
                inputs:
                  azureSubscription: 'azure-cloud'
                  scriptType: 'bash'
                  scriptLocation: 'inlineScript'
                  inlineScript: |
                    az aks get-credentials \
                      --resource-group $(AKS_RESOURCE_GROUP) \
                      --name $(AKS_CLUSTER_NAME) \
                      --overwrite-existing
                    
                    # Ensure namespace exists
                    kubectl get namespace $(K8S_NAMESPACE) || \
                      kubectl create namespace $(K8S_NAMESPACE)


              # --------------------------
              # 2. Generate Helm secrets file
              # --------------------------
              - task: Bash@3
                displayName: Generate values.secrets.yaml
                inputs:
                  targetType: inline
                  script: |
                    cat > values.secrets.yaml <<EOF
                    secrets:
                      SESSION_SECRET: "$(SESSION_SECRET)"
                      DATABASE_URL: "$(AZURE_SQL_CONNECTION_STRING)"
                      AZURE_STORAGE_CONNECTION_STRING: "$(AZURE_STORAGE_CONNECTION_STRING)"
                      AZURE_STORAGE_ACCOUNT_NAME: "$(AZURE_STORAGE_ACCOUNT_NAME)"
                      AZURE_STORAGE_ACCOUNT_KEY: "$(AZURE_STORAGE_ACCOUNT_KEY)"
                    EOF
              
              # --------------------------
              # 3. Install Helm
              # --------------------------
              - task: HelmInstaller@1
                displayName: Install Helm
                inputs:
                  helmVersionToInstall: latest
              
              # --------------------------
              # 3. Install kubectl
              # --------------------------
              - task: KubectlInstaller@0
                inputs:
                  kubectlVersion: 'latest'
                  
              # --------------------------
              # 3. create namespace
              # --------------------------
              - task: Kubernetes@1
                inputs:
                  connectionType: 'Azure Resource Manager'
                  azureSubscriptionEndpoint: 'azure-cloud'
                  azureResourceGroup: 'azurecloud'
                  kubernetesCluster: 'aks-azurecloud'
                  command: 'apply'
                  arguments: '-f **/k8s/namespace.yaml'
                  secretType: 'dockerRegistry'
                  containerRegistryType: 'Azure Container Registry'

              # --------------------------
              # 4. Deploy with Helm
              # --------------------------
              - task: HelmDeploy@0
                displayName: Deploy Helm Chart
                inputs:
                  connectionType: 'Azure Resource Manager'
                  azureSubscription: 'azure-cloud'
                  azureResourceGroup: 'azurecloud'
                  kubernetesCluster: 'aks-azurecloud'
                  namespace: '$(K8S_NAMESPACE)'
                  command: 'upgrade'
                  chartType: 'FilePath'
                  chartPath: '$(HELM_CHART_PATH)'
                  releaseName: '$(HELM_RELEASE_NAME)'
                  valueFile: 'values.secrets.yaml'
